<h1>Create A Book Club</h1>
<%= form_for @club do |f| %>
  <%= f.label :name  %>
  <%= f.text_field :name%>
  <%= f.label :start_date %>
  <%= f.date_select :start_date  %>
  <%= f.label :end_date %>  
  <%= f.date_select :end_date  %>
  <%= f.hidden_field :book_id, value: params[:book_id]  %>
  <%= f.submit  %>
<% end %>
