<h1>Create A Book Club</h1>
<%= form_for(@club) do |f| %>
  <%= f.label :name  %>
  <%= f.text_field :name%>
  <%= f.label :start_date %>
  <%= f.text_field :start_date, :value => @club.start_date.strftime("%d-%m-%Y") %>
  <%= f.label :end_date %>
  <%= f.text_field :end_date, :value => @club.end_date.strftime("%d-%m-%Y")  %>
  <%= f.submit  %>
<% end %>
