<h1><%=@club.name %></h1>

<p>There are <%=@club.users.length%> members in <%=club_member?(@club) ? "your" : "this" %>
book club!</p>
<p>This club started on <%=@club.start_date%></p>

<div class = "row">
  <div class="panel panel-default col-md-3">
  <div class="panel-heading"><%= link_to @club.book.title, book_path(@club.book_id) %></div>
  <div class="panel-body"><img src= "<%= @club.book.url %>"></div>
  </div>
</div>

<% if logged_in? && @club.users.include?(current_user)%>
<div class="messages">
<h2>Messages:</h2>
  <div id="message_board" style ="height:200px;width:600px;overflow:auto;background-color:white;color:black;
    scrollbar-base-color:gold;font-family:sans-serif;padding:10px; border:2px solid grey;padding:2%; border-radius: 15px">
    <% unless @club.messages.empty? %>
    <% @club.messages.each do |message| %>
      <p>On <%= message.post_time%>: <%=message.user.name%> said "<%= message.content%>"</p>
      <% end %>
      <% end %>
    </div>
 </div>

<%= render partial: 'messages/form', method: :post, locals: {message: @club.messages.build} %>
<% end %>

<h2>Members:</h2>
<% @club.users.each do |user| %>
  <font size = "5"> <%=link_to "#{user.name}", user_path(user)%></font><br>
<% end %>

<% if logged_in? %>
  <h2> Not enough members? Invite a friend!</h2>
  <%= form_tag(invitations_path, method: 'POST') do %>
   <%= hidden_field_tag "invitations[club_id]", @club.id%>
   <%= hidden_field_tag "invitations[user_id]", current_user.id %>
  <%= label_tag :name %>
  <%= text_field_tag "invitations[name]" %>
  <%= label_tag :email %>
  <%= text_field_tag "invitations[email]" %>
  <%= submit_tag "Invite Friends" %>
  <% end %>
<% end %>
