<h1><%=@club.name %></h1>

<p>There are <%=@club.users.length%> members in <%=club_member?(@club) ? "your" : "this" %>
book club!</p>
<p>This club started on <%=@club.start_date%></p>

<%= image_tag(image_url(@club.book, 2))%>


<%= button_to "Invite Friends", root_path %>

<% if club_member?(@club)%>
<div class="message_section">
<h2>Messages:</h2>
  <div id="message_board" style ="height:200px;width:300px;overflow:auto;background-color:white;color:black;
    scrollbar-base-color:gold;font-family:sans-serif;padding:10px; border:8px solid purple;padding:2%; border-radius: 15px">
    <% @club.messages.each do |message| %>
      <p>On <%= message.post_time%>: <%=message.user.name%> said "<%= message.content%>"</p>
      <% end %>
    </div>
 </div>

<%= render partial: 'messages/form', method: :post, locals: {message: @club.messages.build} %>
<% end %>

<h2>Members:</h2>
<% @club.users.each do |user| %>
  <font size = "5"> <%=link_to "#{user.name}", user_path(user)%></font><br>
<% end %>
