<h1><%=@user.name%>'s Profile</h1>

<div>
    Name: <%=@user.name %>
    Age: <%=@user.age %>
    Favorite Book: <%=@user.favorite_books%>

</div>

<div>
<h3>Your Current Clubs</h3>
    <% @user.current_clubs.each do |clubs| %>
    <%= link_to clubs.name, club_path(clubs) %>
    <% end %>
</div>

<div>
<h3>Your Past Clubs</h3>
    <% @user.archived_clubs.each do |clubs| %>
    <%= link_to clubs.name, club_path(clubs) %>
    <% end %>
</div>

<div>
<% if current_user.id == @user.id%>
    <%= link_to 'Edit Your Profile', edit_user_path %> <br>
    <%= link_to 'Delete Your Profile', delete_user_path %>
<% end %>
</div>
