<h1><%=@user.name%>'s Profile</h1>

<div>
    <h4>Name: <%=@user.name %></h4>
    <h4>Age: <%=@user.age %></h4>
    <h4>Favorite Books: <%=@user.favorite_books%></h4>
</div>

<br>

<div>
<h3>Your Current Clubs:</h3>
  <%if @user.current_clubs.empty? %>
    <p>You are not part of any clubs! Search a book to join a club.</p>
  <% else %>
    <% @user.current_clubs.each do |clubs| %>
    <h5><%= link_to clubs.name, club_path(clubs) %></h5>
    <% end %>
  <% end %>
</div>


<div>
<% unless @user.archived_clubs.empty?  %>
<h3>Your Past Clubs</h3>
    <% @user.archived_clubs.each do |clubs| %>
    <%= link_to clubs.name, club_path(clubs) %>
    <% end %>
  <% end %>
</div>

<div>
<% if current_user.id == @user.id%>
    <%= link_to 'Edit Your Profile', edit_user_path %> |
    <%= link_to 'Delete Your Profile', delete_user_path %>
<% end %>
</div>
