<h1><%=@book.title %></h1>
<h3><%=@book.author %> <span><h4><%=@book.genre%></h4></span></h3>

<p>
  <%=@book.description %>
</p>
<br>
  <h3>Open Clubs with this Book:</h3>
  <% @book.clubs.each do |club| %>
    <p><%=link_to "#{club.name}", club_path(club)%></p>
    <%=button_to "Join Club", club_path(club), params:{join: 'yes'}, method: :get%>
  <%end%>
  <br>

  <h3>Create a Club for this Book</h3>
  <%=button_to "Create Club", '/clubs/new', params: {book_id: params[:id]}, method: :get%>
