<!DOCTYPE html>
<html>
  <head>
    <title>BookConnect</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <link rel="stylesheet" type="text/css" href="vendor/assets/stylesheets/bootswatch.css"></head>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">BookConnect</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          <% if logged_in?  %>
            <li><a href=<%="/users/#{session[:user_id]}" %>>Your Profile</a></li>
          <% end %>
          <li><a href="/clubs">Browse Clubs</a></li>

          </ul>
          <!-- Search bar function -->
          <% if logged_in?  %>
            <%= form_tag(books_path, method: 'get', class: 'navbar-form navbar-left') do %>
              <%= search_field_tag 'search', params[:search], class: 'form-control', placeholder: 'Search for a Book'  %>
              <%= submit_tag "Submit", class: 'btn btn-default', :name => nil %>
            <% end %>
          <% end %>

          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <li><a href='/signout'>Sign Out</a></li>
            <% else %>
              <li><a href='/signin'>Sign In</a></li>
              <li><a href="/signup">Sign Up</a></li>
            <% end %>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </head>

  <body class = 'container'>
    <%= yield %>
  </body>
</html>
